<?xml version="1.0"?>
<config>
	<modules>
		<IcebergCommerce_ReviewSearchFriendlyUrls>
			<version>1.0.4</version>
		</IcebergCommerce_ReviewSearchFriendlyUrls>
	</modules>

	<global>
		<models>
			<reviewsearchfriendlyurls>
				<class>IcebergCommerce_ReviewSearchFriendlyUrls_Model</class>
			</reviewsearchfriendlyurls>
			<review>
				<rewrite>
					<review>IcebergCommerce_ReviewSearchFriendlyUrls_Model_Review</review>
				</rewrite>
			</review>
		</models>
		<blocks>
			<review>
				<rewrite>
					<product_view_list>IcebergCommerce_ReviewSearchFriendlyUrls_Block_List</product_view_list>
					<helper>IcebergCommerce_ReviewSearchFriendlyUrls_Block_Helper</helper>
					<view>IcebergCommerce_ReviewSearchFriendlyUrls_Block_View</view>
				</rewrite>
			</review>
		</blocks>
	</global>
	<adminhtml>
		<events>
			<review_delete_after>
				<observers>
					<remove>
						<class>reviewsearchfriendlyurls/observer</class>
                        <method>deleteReview</method>
					</remove>
				</observers>
			</review_delete_after>
			<product_delete_after>
				<observers>
					<remove>
						<class>reviewsearchfriendlyurls/observer</class>
                        <method>deleteProduct</method>
					</remove>
				</observers>
			</product_delete_after>
		</events>
	</adminhtml>
</config>
