<!-- 
/*********************************************************************************
 * Copyright 2009 Priacta, Inc.
 * 
 * This software is provided free of charge, but you may NOT distribute any
 * derivative works or publicly redistribute the software in any form, in whole
 * or in part, without the express permission of the copyright holder.
 * 
 * The above copyright notice and this permission notice shall be included in
 * all copies or substantial portions of the Software.
 * 
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
 * THE SOFTWARE.
 *********************************************************************************/
-->

<config>
    <modules>
      <Mage_Pap>
          <version>1.3.6</version>
      </Mage_Pap>
    </modules>
  <global>
    <models>
      <pap>
        <class>Mage_Pap_Model</class>
        <resourceModel>pap_papapi</resourceModel>
      </pap>
      <apisession>
        <class>Mage_Pap_Model_Apisession</class>
      </apisession>
      <pap_papapi>
        <class>Mage_Pap_Model_Papapi</class>
        <entities>
          <pap>
            <papclass>Pap_Api_Transaction</papclass>
            <papgridclass>Pap_Api_TransactionsGrid</papgridclass>
          </pap>
          <user>
            <papclass>Pap_Api_Affiliate</papclass>
            <papgridclass>Pap_Api_AffiliatesGrid</papgridclass>
          </user>
        </entities>
      </pap_papapi>
      <paypal>
        <rewrite>
          <standard>Mage_Pap_Model_Paypal</standard>
          <ipn>Mage_Pap_Model_PaypalIpn</ipn>
        </rewrite>
      </paypal>
      <googlecheckout>
        <rewrite>
          <api_xml_callback>Mage_Pap_Model_GoogleCheckout_Callback</api_xml_callback>
          <api_xml_checkout>Mage_Pap_Model_GoogleCheckout_Checkout</api_xml_checkout>
        </rewrite>
      </googlecheckout>
    </models>
    <blocks>
      <paypal>
        <rewrite>
          <standard_redirect>Mage_Pap_Block_Paypal_Redirect</standard_redirect>
        </rewrite>
      </paypal>
      <googlecheckout>
        <rewrite>
          <redirect>Mage_Pap_Block_GoogleCheckout_Redirect</redirect>
          <link>Mage_Pap_Block_GoogleCheckout_Link</link>
        </rewrite>
      </googlecheckout>
    </blocks>
    <resources>
      <pap_setup>
        <setup>
          <module>Mage_Pap</module>
        </setup>
        <connection>
          <use>core_setup</use>
        </connection>
      </pap_setup>
      <pap_write>
        <connection>
          <!-- This is a stub. Connection settings will come from the store configuration -->
          <!-- The connection to the PAP database is moved to foriegn, and is being phased out now.
          <model>mysql4</model>
          <initStatements>SET NAMES utf8</initStatements>
          <type>pdo_mysql</type>
          <active>1</active>
          -->
          <use>core_write</use>
        </connection>
      </pap_write>
      <pap_read>
        <connection>
          <!-- The connection to the PAP database is moved to foriegn, and is being phased out now.
          <model>mysql4</model>
          <initStatements>SET NAMES utf8</initStatements>
          <type>pdo_mysql</type>
          <active>1</active>
          -->
          <use>core_read</use>
        </connection>
      </pap_read>
      <pap_foreign>
        <connection>
          <!-- This is a stub. Connection settings will come from the store configuration -->
          <type>pdo_mysql</type>
          <model>mysql4</model>
          <active>1</active>
        </connection>
      </pap_foreign>
    </resources>
    <helpers>
      <pap>
        <class>Mage_Pap_Helper</class>
      </pap>
    </helpers>
    <events>
      <checkout_onepage_controller_success_action>
        <observers>
          <pap_checkoutObserver>
            <type>model</type>
            <class>pap/checkout_observer</class>
            <method>OnCheckoutSuccess</method>
          </pap_checkoutObserver>
        </observers>
      </checkout_onepage_controller_success_action>
      <checkout_multishipping_controller_success_action>
        <observers>
          <pap_checkoutObserver>
            <type>model</type>
            <class>pap/checkout_observer</class>
            <method>OnCheckoutSuccess</method>
          </pap_checkoutObserver>
        </observers>
      </checkout_multishipping_controller_success_action>
      <sales_order_save_after>
        <observers>
          <pap_order_modified>
              <type>singleton</type>
              <class>pap/observer</class>
              <method>order_modified</method>
          </pap_order_modified>
        </observers>
      </sales_order_save_after>
    </events>
  </global>
    <admin>
        <routers>
            <pap>
                <use>admin</use>
                <args>
                    <module>Mage_Pap</module>
                    <frontName>pap</frontName>
                </args>
            </pap>
        </routers>
    </admin>
    <frontend>
        <secure_url>
            <pap>/pap/</pap>
        </secure_url>
        <events>
            <checkout_onepage_controller_success_action>
                <observers>
                    <pap_order_success>
                        <type>singleton</type>
                        <class>pap/observer</class>
                        <method>order_success_page_view</method>
                    </pap_order_success>
                </observers>
            </checkout_onepage_controller_success_action>
            <checkout_multishipping_controller_success_action>
                <observers>
                    <pap_order_success>
                        <type>singleton</type>
                        <class>pap/observer</class>
                        <method>order_success_page_view</method>
                    </pap_order_success>
                </observers>
            </checkout_multishipping_controller_success_action>
        </events>
        <routers>
            <pap>
                <use>standard</use>
                <args>
                    <module>Mage_Pap</module>
                    <frontName>pap</frontName>
                </args>
            </pap>
        </routers>
        <layout>
            <updates>
                <pap>
                    <file>pap.xml</file>
                </pap>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <menu>
            <sales translate="title" module="adminhtml">
                <children>
                  <managepap translate="title" module="adminhtml">
                      <title>Affiliate Orders</title>
                      <action>pap/adminhtml_pap/manage</action>
                        <sort_order>105</sort_order>
                  </managepap>
                  <connectaffiliate translate="title" module="adminhtml">
                      <title>Connect Affiliate to Order</title>
                      <action>pap/adminhtml_pap/connect</action>
                        <sort_order>106</sort_order>
                  </connectaffiliate>
                  <!-- This isn't useful to a user, just for testing
                  <setstatus translate="title" module="adminhtml">
                      <title>Set Affiliate Order Status</title>
                      <action>pap/adminhtml_pap/setStatus</action>
                        <sort_order>106</sort_order>
                  </setstatus>
                  -->
                </children>
            </sales>            
        </menu>
        <layout>
            <updates>
                <pap>
                    <file>main.xml</file>
                </pap>
            </updates>
        </layout>
        <acl>
            <resources>
                <admin>
                    <children>
                        <sales translate="title" module="sales">
                            <title>Sales</title>
                            <children>
                                <managepap translate="title">
                                    <title>Affiliate Orders</title>
                                    <sort_order>105</sort_order>
                                </managepap>
                                <connectaffiliate translate="title">
                                    <title>Connect Affiliate to Order</title>
                                    <sort_order>106</sort_order>
                                </connectaffiliate>
                            </children>
                        </sales>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <pap_config>
                                            <title>Post Affiliate Pro</title>
                                        </pap_config>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <events>
            <controller_action_predispatch>
                <observers>
                    <pap>
                        <type>singleton</type>
                        <class>pap/observer</class>
                        <method>preDispatch</method>
                    </pap>
                </observers>
            </controller_action_predispatch>
        </events>
    </adminhtml>
    <default>
        <pap_config>
            <connection>
                <host>localhost</host>
            </connection>
            <general>
                <directory>affiliate</directory>
            </general>
            <tracking>
                <trackclicks>default</trackclicks>
                <tracksales>default</tracksales>
                <trackclickscript>trackjs.php</trackclickscript>
                <tracksalescript>trackjs.php</tracksalescript>
                <addshipping>0</addshipping>
                <perproduct>1</perproduct>
                <lifetimereferrals>1</lifetimereferrals>
            </tracking>
            <pap_legal>
<pap_terms><![CDATA[AGREEMENT

This contract ("THE AGREEMENT") sets forth the terms and conditions of the affiliate relationship between this site and its owners ("GRANTOR") and the party requesting enrollment ("AFFILIATE").

ENROLLMENT

By providing their information and agreeing to these terms AFFILIATE requests enrollment in GRANTOR's affiliate program. GRANTOR reserves the right to refuse enrollment for any reason. GRANTOR is not required to notify AFFILIATE if enrollment has been denied, or to provide any explanation.

LINKS

GRANTOR may provide AFFILIATE with links, banners, text, multimedia content, or other snippets (collectively "ADS") to use when promoting GRANTOR's product(s).

TRACKING

GRANTOR will track referred users ("REFERRALS") on the basis of additional information added to the URL, and/or the referring URL. REFERRAL may be tracked using JavaScript, cookies, IP address, and/or other technologies. AFFILIATE accepts that tracking of referrals is inaccurate. AFFILIATE accepts that they may not receive credit for referrals who have disabled Flash, cookies, or JavaScript, or who in some other way interfere with the normal operation of tracking code. GRANTOR may also cancel any transaction, including all commissions owed to AFFILIATE for any reason, including duplicate transactions, suspicious or fraudulent transactions, order returns, or incorrectly assigned transactions, even if the transaction was tracked automatically by the code.

PAYMENT

GRANTOR will pay AFFILIATE commissions once per month. Affiliate must be owed $100, or the minimum payout threshold selected in AFFILIATE's account options.

CUSTOMERS

AFFILIATE grants that REFERRAL is the customer of GRANTOR. GRANTOR may attempt to sell additional goods or services to REFERRAL at any time, for any reason.

LICENSE

ADS may contain copyrighted material, trademarks, or other intellectual property. Unless otherwise noted, Affiliate is authorized to use ADS and the content in them for the sole purpose of promoting GRANTOR's product(s). THE AGREEMENT in no way implies an exclusive license to intellectual property, license to create or display derivative works, or a license to use any material for any purpose other than promotion of GRANTOR's product(s).

DURATION

THE AGREEMENT may be terminated at any time by either party by notifying the other party in writing, by telephone, or via email. Upon termination Affiliate will be payed any commissions owed. Upon termination, GRANTOR will no longer pay AFFILIATE any commission for visitors sent, even if GRANTOR continues to track AFFILIATE's REFERRALS.

MODIFICATION

GRANTOR may change this agreement at any time by posting a new agreement here. AFFILIATE's continued use of the referral tracking system shall constitute agreement to the new terms. If AFFILIATE chooses not to accept the new terms, AFFILIATE may terminate THE AGREEMENT as set forth above.

LIMITATION OF LIABILITY

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.

]]></pap_terms>
            </pap_legal>
        </pap_config>
    </default>
</config> 