<?xml version="1.0"?>
<!--
/*********************************************************************************
 * Copyright 2009 Priacta, Inc.
 * 
 * This software is provided free of charge, but you may NOT distribute any
 * derivative works or publicly redistribute the software in any form, in whole
 * or in part, without the express permission of the copyright holder.
 * 
 * The above copyright notice and this permission notice shall be included in
 * all copies or substantial portions of the Software.
 * 
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
 * THE SOFTWARE.
 *********************************************************************************/
-->
<config>
    <sections>
        <pap_config translate="label" module="pap">
            <label>Post Affiliate Pro</label>
            <tab>sales</tab>
            <frontend_type>text</frontend_type>
            <sort_order>90</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <connection translate="label">
                    <label>Database Connection</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <!-- The database information is no longer used. We've replaced
                         this with the API. HOWEVER. Legacy users will need the database
                         connection information one last time when they upgrade, so
                         an appropriate API username can be queried. We'll leave these
                         configuration option in here, so that they can be used for
                         upgrading users, but we'll hide the section, so we don't create
                         confusion, and to prevent anyone else from bothering to set
                         the information now that we don't need it. -->
                    <show_in_default>0</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
		                <prerequisite translate="label">
		                    <label>Prerequisite</label>
                            <frontend_type>hidden</frontend_type>
                            <!--
		                    <frontend_type>text</frontend_type>
		                    <frontend_model>pap/fadminhtml_orm_fieldset_modules_comment</frontend_model>
		                    -->
		                    <sort_order>1</sort_order>
		                    <show_in_default>1</show_in_default>
		                    <show_in_website>1</show_in_website>
		                    <show_in_store>1</show_in_store>
                            <comment><![CDATA[PAP Connector requires Post Affiliate Pro in order to work. If you haven't installed it already, please <a href="http://www.priacta.com/code/magento-affiliate/pap.php" target="_blank">get Post Affiliate Pro</a>]]></comment>
		                </prerequisite>
                        <host translate="label">
                            <label>Host</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </host>
                        <username translate="label">
                            <label>Username</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </username>
                        <password translate="label">
                            <label>Password</label>
                            <frontend_type>password</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </password>
                        <dbname translate="label">
                            <label>Database Name</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </dbname>
                    </fields>
                </connection>
                <api translate="label">
                    <label>API Connection</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <prerequisite translate="label">
                            <label>Prerequisite</label>
                            <frontend_type>hidden</frontend_type>
                            <!--
                            <frontend_type>text</frontend_type>
                            <frontend_model>pap/fadminhtml_orm_fieldset_modules_comment</frontend_model>
                            -->
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[PAP Connector requires Post Affiliate Pro in order to work. If you haven't installed it already, please <a href="http://www.priacta.com/code/magento-affiliate/pap.php" target="_blank">get Post Affiliate Pro</a>]]></comment>
                        </prerequisite>
                        <username translate="label">
                            <label>API Username</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Enter your PAP merchant login username (the one you use to log into PAP as an admin)]]></comment>
                        </username>
                        <password translate="label">
                            <label>API Password</label>
                            <frontend_type>password</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Enter your PAP merchant login password (the one you use to log into PAP as an admin)]]></comment>
                        </password>
                    </fields>
                </api>
                <general translate="label">
                    <label>General</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>20</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <prerequisite translate="label">
                            <label>Prerequisite</label>
                            <frontend_type>hidden</frontend_type>
                            <!--
                            <frontend_type>text</frontend_type>
                            <frontend_model>pap/fadminhtml_orm_fieldset_modules_comment</frontend_model>
                            -->
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[PAP Connector requires Post Affiliate Pro in order to work. If you haven't installed it already, please <a href="http://www.priacta.com/code/magento-affiliate/pap.php" target="_blank">get Post Affiliate Pro</a>]]></comment>
                        </prerequisite>
                        <domain translate="label">
                            <label>Domain Name</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Domain name where you installed Post Affiliate Pro. For example, if PAP was installed at "www.example.com/affiliate/", this field would be set to "www.example.com"]]></comment>
                        </domain>
                        <docroot translate="label">
                            <label>Document Root</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Leave this blank unless you know what Document Root means.]]></comment>
                        </docroot>
                        <directory translate="label">
                            <label>Install Directory</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Directory on the server where you installed Post Affiliate Pro. For example, if PAP was installed at "www.example.com/affiliate/", this field would be set to "affiliate"]]></comment>
                        </directory>
                    </fields>
                </general>
                <tracking translate="label">
                    <label>Tracking</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>30</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <prerequisite translate="label">
                            <label>Prerequisite</label>
                            <frontend_type>hidden</frontend_type>
                            <!--
                            <frontend_type>text</frontend_type>
                            <frontend_model>pap/fadminhtml_orm_fieldset_modules_comment</frontend_model>
                            -->
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[PAP Connector requires Post Affiliate Pro in order to work. If you haven't installed it already, please <a href="http://www.priacta.com/code/magento-affiliate/pap.php" target="_blank">get Post Affiliate Pro</a>]]></comment>
                        </prerequisite>
                        <trackclicks translate="label">
                            <label>Track Clicks</label>
                            <frontend_type>select</frontend_type>
                            <source_model>pap/config_source_trackClicks</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[If you set this to "No" Magento will not send visitor information to PAP. WARNING: Setting this to "No" will prevent sale tracking from working unless you use another method to track clicks.]]></comment>
                        </trackclicks>
                        <trackclickscript translate="label">
                            <label>Click Tracking Script</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>15</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Name of click tracking script. Older versions of PAP may need to use "clickjs.php".]]></comment>
                        </trackclickscript>
                        <tracksales translate="label">
                            <label>Track Sales</label>
                            <frontend_type>select</frontend_type>
                            <source_model>pap/config_source_trackSales</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[If you set this to "No" Magento will not send order information to PAP.]]></comment>
                        </tracksales>
                        <tracksalescript translate="label">
                            <label>Sale Tracking Script</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>25</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Name of sale tracking script. Older versions of PAP may need to use "salejs.php".]]></comment>
                        </tracksalescript>
                        <addshipping translate="label">
                            <label>Pay Commission on Shipping</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>25</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[If you set this to "Yes" Magento will include shipping information with the order. If commissions are separated by product, a "shipping" item will be added onto each order with the shipping total. The shipping total includes the total shipping ammount for the entire order, and the product ID will be set to "SHIPPING CHARGES".]]></comment>
                        </addshipping>
                        <perproduct translate="label">
                            <label>Pay Separate Commissions Per Product</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>27</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[If you set this to "Yes" Magento will split the order, so commissions can be different for different products. Setting it to "No" allows flat per-order commissions.]]></comment>
                        </perproduct>
                        <channelid translate="label">
                            <label>Channel ID</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Use this to force a specific channel when tracking sales. Leave blank if you are not using Channels in PAP.]]></comment>
                        </channelid>
                        <lifetimereferrals translate="label">
                            <label>Use Lifetime Referrals</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>38</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[If you set this to "Yes" AND install the Lifetime Referrals feature in PAP, Magento will pass the customer ID as data1 (required for lifetime referrals to work.)]]></comment>
                        </lifetimereferrals>
                        <affiliateid translate="label">
                            <label>Custom Affiliate ID</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Optionally used to specifiy the affiliate ID to send to PAP with order information. <b>Leave blank to use regular affiliate tracking.</b> <a href="http://www.priacta.com/code/magento-affiliate/customdata.php" target="_blank">See here for help.</a>]]></comment>
                        </affiliateid>
                        <data1 translate="label">
                            <label>Custom Data 1</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Optional extra data to send to PAP for plugins to use. Ignored if Lifetime Referrals is used. <a href="http://www.priacta.com/code/magento-affiliate/customdata.php" target="_blank">See here for help.</a>]]></comment>
                        </data1>
                        <data2 translate="label">
                            <label>Custom Data 2</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Optional extra data to send to PAP for plugins to use. <a href="http://www.priacta.com/code/magento-affiliate/customdata.php" target="_blank">See here for help.</a>]]></comment>
                        </data2>
                        <data3 translate="label">
                            <label>Custom Data 3</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Optional extra data to send to PAP for plugins to use. <a href="http://www.priacta.com/code/magento-affiliate/customdata.php" target="_blank">See here for help.</a>]]></comment>
                        </data3>
                        <data4 translate="label">
                            <label>Custom Data 4</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>70</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Optional extra data to send to PAP for plugins to use. <a href="http://www.priacta.com/code/magento-affiliate/customdata.php" target="_blank">See here for help.</a>]]></comment>
                        </data4>
                        <data5 translate="label">
                            <label>Custom Data 5</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>80</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Optional extra data to send to PAP for plugins to use. <a href="http://www.priacta.com/code/magento-affiliate/customdata.php" target="_blank">See here for help.</a>]]></comment>
                        </data5>
                    </fields>
                </tracking>
                <pap_legal translate="label">
                    <label>Legal Information</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>40</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <pap_terms translate="label">
                            <label>Terms &amp; Conditions</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Affiliate Agreement legaleese. Default is only an example. You are responsible to come up with your own agreement.]]></comment>
                        </pap_terms>
                    </fields>
                </pap_legal>
            </groups>
        </pap_config>
    </sections>
</config>
