<?xml version="1.0"?>
<config>
	<modules>
		<IZ_Custom>
			<version>0.1.4</version>
		</IZ_Custom>
	</modules>

	<global>
		<blocks>
			<izcustom>
				<class>IZ_Custom_Block</class>
			</izcustom>
		</blocks>
		<resources>
			<iz_custom_setup>
				<setup>
					<module>IZ_Custom</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
				</setup>
			</iz_custom_setup>
		</resources>
		<models>
			<izcustom>
				<class>IZ_Custom_Model</class>
			</izcustom>
		</models>
	</global>
	
	<frontend>
		<layout>
			<updates>
				<iz_custom>
					<file>iz_custom.xml</file>
				</iz_custom>
			</updates>
		</layout>
	</frontend>
	<default>
		<cms>
			<customization>
				<additionalmenu>top_nav</additionalmenu>
			</customization>
		</cms>
	</default>
</config>
