<?xml version="1.0"?>
<config>
    <modules>
        <Magestore_Storepickup>
            <version>0.3.0</version>
        </Magestore_Storepickup>
    </modules>
    <frontend>
        <routers>
            <storepickup>
                <use>standard</use>
                <args>
                    <module>Magestore_Storepickup</module>
                    <frontName>storepickup</frontName>
                </args>
            </storepickup>
        </routers>
        <layout>
            <updates>
                <storepickup>
                    <file>storepickup.xml</file>
                </storepickup>
            </updates>
        </layout>
		<events>
			<checkout_type_onepage_save_order_after>
			  <observers>
		          <magestore_storepickup_observer>
		            <type>singleton</type>
		            <class>storepickup/observer</class>
		            <method>checkout_type_onepage_save_order_after</method>
		          </magestore_storepickup_observer>
		       </observers>
			</checkout_type_onepage_save_order_after>
			<checkout_controller_onepage_save_shipping_method> 
			  <observers>
		          <magestore_storepickup_observer>
		            <type>singleton</type>
		            <class>storepickup/observer</class>
		            <method>update_shippingaddress</method>
		          </magestore_storepickup_observer>
		       </observers>		
			</checkout_controller_onepage_save_shipping_method> 
		</events>		
    </frontend>
    <admin>
        <routers>
			<storepickup>
				<use>admin</use>
				<args>
					<module>Magestore_Storepickup</module>
					<frontName>storepickup</frontName>
				</args>
			</storepickup>
        </routers>
    </admin>	
    <adminhtml>
		<layout>
			<updates>
				<storepickup>
					<file>storepickup.xml</file>
				</storepickup>
			</updates>
		</layout>
		<events>
			<checkout_submit_all_after>
				<observers>
		          <storepickup_sales_order_save_before>
						<type>singleton</type>
						<class>storepickup/observer</class>
						<method>adminhtml_sales_order_save_before</method>
		          </storepickup_sales_order_save_before>
		       </observers>
			</checkout_submit_all_after>
			<sales_convert_order_to_quote>
				<observers>
		          <storepickup_sales_convert_order_to_quote>
						<type>singleton</type>
						<class>storepickup/observer</class>
						<method>storepickup_sales_convert_order_to_quote</method>
		          </storepickup_sales_convert_order_to_quote>
		       </observers>
			</sales_convert_order_to_quote>
		</events>
    </adminhtml>   
    <global>
        <models>
            <storepickup>
                <class>Magestore_Storepickup_Model</class>
                <resourceModel>storepickup_mysql4</resourceModel>
            </storepickup>
            <storepickup_mysql4>
                <class>Magestore_Storepickup_Model_Mysql4</class>
                <entities>
                    <store>
                        <table>storepickup_store</table>
                    </store>
					
					 <holiday>
                        <table>storepickup_holiday</table>
                    </holiday>
					
					 <location>
                        <table>storepickup_location</table>
                    </location>		

					<region>
                        <table>directory_country_region</table>
                    </region>
					
					<storeorder>
						<table>storepickup_order</table>
					</storeorder>
					
                </entities>
            </storepickup_mysql4>
        </models>
        <resources>
            <storepickup_setup>
                <setup>
                    <module>Magestore_Storepickup</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </storepickup_setup>
            <storepickup_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </storepickup_write>
            <storepickup_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </storepickup_read>
        </resources>
        <blocks>
            <storepickup>
                <class>Magestore_Storepickup_Block</class>
            </storepickup>
			<checkout>
				<rewrite>
					<onepage_payment_methods>Magestore_Storepickup_Block_Rewrite_CheckoutOnepagePaymentMethods</onepage_payment_methods>
				</rewrite>
			</checkout>
			<adminhtml>
				<rewrite>
					<sales_order_create_shipping_method_form>Magestore_Storepickup_Block_Adminhtml_Sales_Order_Create_Shipping_Method_Form</sales_order_create_shipping_method_form>
				</rewrite>
			</adminhtml>
        </blocks>
        <helpers>
            <storepickup>
                <class>Magestore_Storepickup_Helper</class>
            </storepickup>
        </helpers>
		<template>
            <email>
                <carriers_storepickup_storeowner_email_template translate="label" module="storepickup">
                    <label>Email to store owner</label>
                    <file>storepickup/pickuplocation.html</file>
                    <type>html</type>
                </carriers_storepickup_storeowner_email_template>			
                <carriers_storepickup_shopadmin_email_template translate="label" module="storepickup">
                    <label>Email to web-shop admin</label>
                    <file>storepickup/delivery.html</file>
                    <type>html</type>
                </carriers_storepickup_shopadmin_email_template>	
			</email>
		</template>			
    </global>
    <default>
        <carriers>
            <storepickup>
                <active>1</active>
                <handling>0</handling>
                <model>storepickup/shipping_storepickup</model>
                <title>StorePickup</title>
                <interval_time>30</interval_time>
				<display_allstores>2</display_allstores>
				<search_country>1</search_country>
				<search_state>1</search_state>
				<search_city>1</search_city>
				<search_name>1</search_name>
				<store_map>2</store_map>
				<map_size>600*400</map_size>
				<display_timedate>1</display_timedate>
                <guide_text>Please select date and time for receive products</guide_text>
                <holiday_nonce>Holiday</holiday_nonce>
                <early_date_nonce>Very early shipping date</early_date_nonce>
                <store_not_found_nonce>Store Not Found</store_not_found_nonce>
                <specificerrmsg>This shipping method is currently unavailable. If you would like to ship using this shipping method, please contact us.</specificerrmsg>
                <storeowner_email_template>carriers_storepickup_storeowner_email_template</storeowner_email_template>
                <shopadmin_email_template>carriers_storepickup_shopadmin_email_template</shopadmin_email_template>
				<handling_type>F</handling_type>
                <handling_action>O</handling_action>
				<sallowspecific_payment>1</sallowspecific_payment>
				<specificpayment></specificpayment>			
				<num_top_store>5</num_top_store>		
				<active_gapi>0</active_gapi>
				<gkey></gkey>
            </storepickup>
        </carriers>
    </default>
    <!--websites>
		<admin>
			<dev>
				<debug>
					<template_hints>1</template_hints>
					<template_hints_blocks>1</template_hints_blocks>
				</debug>
			</dev>
		</admin>
	</websites-->		
</config>